<h1>Listing tasks</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Points</th>
    <th>Due Date</th>
    <th>Is recurring</th>
    <th></th>
    <th></th>
  </tr>

  <tr>
    <td><%= @task.title %></td>
    <td><%= @task.text %></td>
    <td><%= @task.points %></td>
    <td><%= @task.dueDate %></td>
    <td><%= @task.isRecurring %></td>
    <td><%= link_to 'Edit', edit_task_path(@task) %></td>
    <td><%= link_to 'Destroy', task_path(@task),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
</table>

<%= link_to 'Back', tasks_path %>